.app-wrapper {
    width: 1200px;

    margin: 0 auto;

    display: grid;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 20px;*/

    grid-template-areas: 'header header'
    'nav content';

}


.header {
    grid-area: header;
    background-color: deeppink;
}

.nav {
    grid-area: nav;
    background-color: greenyellow;
}

.content {
    grid-area: content;
    background-color: #5ff2ff;
}

.logo {
    width: 60px;
    height: 60px;
}

.space {
    width: 100%;
    height: 200px;
}